@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
:root {
    --yellow: #df6215;
    --white: #F7F7F8;
    --black: #010101;
    --light-black: #111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background-color: var(--yellow);
    color: #333;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #333;
}

html::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 50px;
}

body {
    background: var(--black);
    overflow-x: hidden;
    padding-left: 35rem;
}

section {
    min-height: 100vh;
    padding: 1rem;
}

.btn {
    padding: .7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i {
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover {
    background: var(--yellow);
}

.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}

.heading span {
    color: var(--yellow);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: var(--light-black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

header .user img {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--yellow);
}

header .user .username {
    font-size: 3rem;
    color: #fff;
}

header .user .post {
    font-size: 2rem;
    color: #eee;
}

header .user-menu {
    width: 100%;
}

header .user-menu ul {
    list-style-type: none;
    padding: 1rem 0.1rem;
}

header .user-menu ul li a {
    display: block;
    padding: 1rem;
    margin: 1.2rem 0;
    background: #333;
    color: #fff;
    font-size: 1.4rem;
    border-radius: 5rem;
}

header .user-menu ul li a:hover {
    background: var(--white);
    color: var(--black);
}

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 15rem;
    background: linear-gradient(#000000ed, #00000085), url('images/banner-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home h3 {
    font-size: 2.5rem;
    color: #fff;
}

.home h1 {
    font-size: 5rem;
    color: #fff;
}

.home h1 span {
    color: var(--yellow);
}

.home p {
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
}

.typewriter {
    color: var(--yellow);
}

.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.about .row .info {
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3 {
    font-size: 2rem;
    color: var(--yellow);
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span {
    color: #eee;
    padding: 0 .5rem;
}

.about .row .counter {
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
}

.about .row .counter .box {
    background: transparent;
    text-align: center;
    padding: 2rem;
}

.about .row .counter .box p {
    font-size: 2rem;
    color: var(--white);
    text-align: center;
}

.about .row .counter .box img {
    width: 25rem;
    height: 26rem;
    border-radius: 50%;
    border: .7rem solid var(--yellow);
}

.gallery .photos {
    margin: 3rem 0;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
}

.gallery .carousel-heading {
    margin: 2rem 0;
    text-align: center;
}

.gallery .carousel-heading h3 {
    color: var(--white);
    font-size: 2.5rem;
}

.gallery .carousel-heading h3 span {
    color: var(--yellow);
}

.gallery .carousel-heading p {
    color: var(--white);
    font-size: 1.7rem;
}

.gallery .carousel-heading p span {
    color: var(--yellow);
}

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content {
    flex: 1 1 48rem;
    padding: 4rem;
    padding-bottom: 0;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contact .row form .box {
    padding: 1.5rem;
    margin: 1rem 0;
    background: #3333;
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}

.contact .row form .message {
    height: 15rem;
    resize: none;
}

.contact .row .content .title {
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i {
    padding-right: 1rem;
    color: var(--yellow);
}

.contact .row .google-form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}

.contact .row .google-form iframe {
    margin: 3rem 0;
    width: 100rem;
    height: 120rem;
}

.fb-comments {
    width: 50vw;
}

.bubbles img {
    width: 50px;
    animation: bubble 4s linear infinite;
    opacity: 0;
}

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -0.5rem;
    z-index: 1;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 25px;
}

.bubbles img:nth-child(2) {
    animation-delay: 2s;
}

.bubbles img:nth-child(3) {
    animation-delay: 1s;
    width: 25px;
}

.bubbles img:nth-child(4) {
    animation-delay: 3s;
}

.bubbles img:nth-child(5) {
    animation-delay: 4.5s;
}

.bubbles img:nth-child(6) {
    animation-delay: 6s;
    width: 20px;
}

.bubbles img:nth-child(7) {
    animation-delay: 3.5s;
    width: 35px;
}

.footer {
    text-align: center;
}

.footer h5 {
    color: var(--white);
    font-size: 1rem;
    padding: 1rem 0;
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 55%;
    }
    .home {
        padding: 1rem 4rem;
    }
}

@media screen and (max-width: 991px) {
    header {
        left: -120%;
    }
    header .user img {
        width: 150px;
        height: 150px;
    }
    #menu {
        display: block;
    }
    header.toggle {
        left: 0%;
    }
    body {
        padding: 0;
    }
}

@media screen and (max-width: 790px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 430px) {
    header {
        width: 100vw;
    }
    .home h3 {
        font-size: 2rem;
    }
    .about .row .counter .box {
        width: 100%;
    }
    .contact .row .google-form iframe {
        width: 50rem;
        height: 120rem;
    }
    .contact .row form {
        margin: 3rem 0;
    }
    .contact .row .content .title {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 380px) {
    .home h3 {
        font-size: 1.8rem;
    }
    .contact .row .google-form {
        padding: 0;
    }
    .contact .row .google-form iframe {
        width: 40rem;
        height: 100rem;
    }
    .contact .row .content .info h3 {
        font-size: 1.7rem;
    }
}